.main {
	width: 800px;
	border: 1px solid #000033;
	margin: 10px auto;
	font-family: Verdana,Geneva,sans-serif; 
}

.tab-menu {
	display: flex;
}

.tab {
	width: 200px;
	background-color: #CCCCCC;
	color: #000033;
	height: 50px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	cursor: pointer;
}

.tab:hover {
	color: white;
}

.active {
	background-color: #6699FF;
}

.content {
	display: flex;
	margin: 10px;
}

.text {
	margin-left: 15px;
	color: #000033;
}

